
//- import zepto

<html>
<header>
    <title>你好</title>
</header>

<body>
    <p>缩进 body 标签没有意义，1</p>
    <p>因为 HTML 本身对空格不敏感。</p>
    <div>1234</div>

    //- <script>
        //- function callOC(func, param){
            //- var url= "func=" + func;
            //- for(var i in param) {
            //-     url = url + "&" + i + "=" + param[i];
            //- }
            //- window.webkit.messageHandlers.Native.postMessage(url);
        //- }

        //- callOC('helloNative', '');
    //- </script>
    <script>
        //- alert('ok')
        var browser =$.browser
    </script>
    
</body>

</html>
