
<html manifest="/manifest/qd_offline.appcache">
<header>
    //- extends ../layout
    <title>你好</title>
    <css source="/stylesheets/style.css"></css>
    <script src="http://do.yunzhijia.com/pub/js/qingjs.js"></script>
</header>

<body>
    <p>h5 manifest测试</p>
    <p>因为 HTML 本身对空格不敏感。</p>
    <div>1234</div>
</body>

</html>
