
github "mxcl/PromiseKit" ~> 4.4.3

#github "rs/SDWebImage" ~> 4.2.3
#github "airbnb/lottie-ios" == 2.1.5
#github "SnapKit/SnapKit" ~> 3.2.0
#github "cxa/MenuItemKit" ~> 3.0.0
#github "ReactiveX/RxSwift" ~> 3.6.1
#github "RxSwiftCommunity/RxDataSources" ~> 2.0.2





# github "quding0308/RxDataSources" ~> 2.0.3
# github "quding0308/RxSwift" ~> 3.6.2




#### 下面代码仅供测试使用 ###



# 不需要这个

# github "AFNetworking/AFNetworking" ~> 3.2.0
# github "SnapKit/Masonry" ~> 1.1.0# github "jdg/MBProgressHUD" ~> 1.1.0
# github "jsonmodel/jsonmodel" ~> 1.7.0
# github "alucarders/SHSPhoneComponentSwift" ~> 1.0.0
# github "webmproject/libwebp" ~> 0.6.1
# github "Flipboard/FLAnimatedImage" ~> 1.0.14
# github "ccgus/fmdb" ~> 2.6.2
# github "ReactiveX/RxSwift" ~> 3.6.1

# git "/Users/hour/yzj_gitlab/KDFoundation" "master"

# no shared scheme
# github "danielamitay/DACircularProgress" ~> 2.3.1
# github "Serheo/SHSPhoneComponent" ~> 2.15.0
# github "gontovnik/DGActivityIndicatorView" ~> 2.1.1
# github "JJMM/SafeKit" ~> 1.4.1


# build failed
# github "sqlcipher/sqlcipher" ~> 3.1.0


#    pod 'KDFoundation', '~> 0.0.9' #云之家基础库
#    pod 'KDKit', '~> 0.1.28' #云之家Swift基础库
#    pod 'YZJOauthLib' #OAuth
#    pod 'KDNetwork','~> 0.7.0' #云之家网络框架
#     pod 'KDMerc','0.1.6' #云之家日志框架
